@import "../../../assets/scss/shared";

.orders {
  margin: auto;
  width: 100%;
  padding: 20px;
  margin: 1em auto;
  margin: auto;
  overflow-x: auto;
  height: 80vh;

  h3{
    padding: 20px 0px;
  }
}

/* Table column sizing
================================== */
.date-cell {
  width: 30%;
}
.id-cell {
  width: 26%;
}
.payment-type-cell {
  width: 23%;
}
.total-cell {
  width: 21%;
}
