<section class="products">
  <ng-container *ngIf="products$ | async as products">
    <!-- table for large screens -->
    <app-product-card *ngIf="isSmallScreen && products" [products]="products" (AddToOrderEvent)="addProductToOrder($event)" (UpdateQuntityEvent)="openAvailablePiecesModal($event)"></app-product-card>
    <app-product-table *ngIf="!isSmallScreen  && products" [products]="products" (AddToOrderEvent)="addProductToOrder($event)" (UpdateQuntityEvent)="openAvailablePiecesModal($event)"></app-product-table>
 
      <!-- *ngIf="isSmallScreen" -->
     
  </ng-container>

  <!-- Modal form to change Available Pieces -->
  <div #availablePiecesModal class="modal">
    <div class="modal-content">
      <input min="0" type="number" name="quntity" [(ngModel)]="quantity" class="input">
      <div class="btns">
        <button (click)="hideAvailablePiecesModal()" class="btn">Cansle</button>
        <button (click)="saveProductAvailablePieces()" class="btn">Save</button>
      </div>
    </div>
  </div>
</section>