<div class="products">
  <h3 class="page-title">Products</h3>
  <ng-container *ngIf="products$ | async as products">
    <!-- card for small screens -->
    <softec-product-card *ngIf="isSmallScreen && products" [products]="products" (AddToOrderEvent)="addProductToOrder($event)" (UpdateQuntityEvent)="openAvailablePiecesModal($event)"></softec-product-card>
    <!-- table for large screens -->
    <softec-product-table *ngIf="!isSmallScreen  && products" [products]="products" (AddToOrderEvent)="addProductToOrder($event)" (UpdateQuntityEvent)="openAvailablePiecesModal($event)"></softec-product-table>
   </ng-container>

  <!-- Modal form to change Available Pieces -->
  <div #availablePiecesModal class="modal">
    <div class="modal-content">
      <label for="quntity">New Quntity</label>
      <input min="0" id="quntity" type="number" name="quntity" [(ngModel)]="quantity" class="input">
      <div class="btns">
        <button (click)="hideAvailablePiecesModal()" class="btn">Cansle</button>
        <button (click)="saveProductAvailablePieces()" class="btn">Save</button>
      </div>
    </div>
  </div>
</div>