@import "../../../assets/scss/shared";
.product-table {
  @extend %shared_table;
  .table-row {
    margin: 5px 0px;
  }
  .table-cell-content {
    width: 100%;
    display: flex;
    border-radius: 10px;
  }
  .image-cell {
    max-width: 10% !important;
    height: 100% !important;
    width: 70px !important;
    img {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .image-cell-header {
    max-width: 10% !important;
  }
}
.few-pieces {
  border: solid $warn 2px !important;
  border-radius: 10px;
}
.fixed-width{
  width: 150px !important;   
}