<nav class="navbar">
    <!-- app name -->
    <div class="company-name">Softec</div>
    <!-- menu -->
    <ul class="nav-links">
        <!-- checkbox for mobile screens -->
        <input type="checkbox" id="checkbox_toggle" />
        <label #xxx for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- menu router links -->
        <div class="menu">
            <li>
                <a [routerLink]="['/products']" routerLinkActive="active" (click)="xxx.click()">Products</a>
            </li>
            <li>
                <a [routerLinkActiveOptions]="{exact: true}"[routerLink]="['/orders']" routerLinkActive="active" (click)="xxx.click()">Orders</a>
            </li>
            <li>
                <a [routerLink]="['/customers']" routerLinkActive="active"
                    (click)="xxx.click()">Customers</a>
            </li>
            <li>
                <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/orders/order-details']" routerLinkActive="active" (click)="xxx.click()"
                    *ngIf="orderProductsLength>0">New Order</a>
            </li>
        </div>
    </ul>
</nav>