.customers{
    padding: 20px;
    margin: auto;
    width: 100%;
    margin: 1em auto;
    margin: auto;
    overflow-x: auto;
    height: calc(100vh - 77px);
    background-color: --primarycolor !important;
}