/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/shared";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

// globale Style
p {
  word-break: break-all;
}

.router-link {
  opacity: 0.3;
  color: $primary;
  transition: all ease-in-out 0.3s;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.page-title {
  padding: 0px 0px 15px 0px;
}

.hover-cell {
  cursor: pointer;
  &:hover {
    background-color: $secondary !important;
    color: $light;
  }
}

.fixed-width {
  width: 150px !important;
}
