/* You can add global styles to this file, and also import other style files */
@import './assets/scss/shared';
body {
  background-color: var(--primarycolor);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body {
  font-family: "Courier New", Courier, monospace;
}

.router-link{
  opacity: .3;
  color: $primary;
  transition: all ease-in-out .3s;
  &:hover{
    cursor: pointer;
    opacity: 1;
  }
}
